<h2>Partial Templates</h2>
<p>This is another jinja2 template, separate from the main layout!</p>
<p>
    You can use these for keeping things like headers, footers, and sidebars separate
    from the main layout.
</p>