* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

main {
    padding: 20px 10px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    text-wrap: wrap;
    overflow-wrap: break-word;
}