[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shodo_ssg = {git = "https://github.com/ryanmphill/shodo-static-gen.git", ref = "main"}

[dev-packages]

[requires]
python_version = "3.9"
