<div class="container">
<header class="page-header">
    <h1 class="page-header__title">This is the root article layout</h1>
</header>
<main>
    {{ article }}
</main>
<footer>Thanks for reading</footer>
</div>