<div class="container">
<header class="page-header">
    <h1 class="page-header__title">This page is nested!</h1>
</header>
<main>
<p>
    You can create nested page templates by adding a <code>.jinja</code>
    file to a subdirectory within the <code>views/pages</code> directory.
</p>
<div>
    <a href="/nested-route/double-nested-route/triple-nested-route">
        Here is a link to a page nested even further!
    </a>
</div>
</main>
<footer><a href="/">Back to Home</a></footer>
</div>