<div class = "container">
<header class="page-header">
    <h1 class="page-header__title">Check out the Blog Posts</h1>
</header>
<main>
    <div><a href="/blog/first-blog">Blog1</a></div>
    <div><a href="/blog/subject/second-blog">Blog2</a></div>
</main>
<footer>
    <div><a href="/">Back to Home</a></div>
</footer>
</div>