<div class="container">
<header class="page-header">
    <h1 class="page-header__title">This is a linked page!</h1>
</header>
<main>
<p>
    You can create individual page templates by adding a <code>.jinja</code>
    file to the <code>views/pages</code> directory.
</p>
<div>
    <a href="/nested-route/double-nested-route">
        You can also create nested pages
    </a>
</div>
</main>
<footer><a href="/">Back to Home</a></footer>
</div>